footer.footer
  .footer__background
    img.footer__background__img(src='./assets/bg/footerbg.jpg')
    .footer__background__overlay

  .footer__info

    .footer__info__logo
      h3.footer__info__logo__title night#[span.red club]
      p.footer__info__logo__sub have a good time

    .footer__info__location
      .footer__info__location__title
        h3.footer__info__location__title__text.red Location
      .footer__info__location__adress
        p.footer__info__location__adress__text Kompagnistræde 278#[br]1265 Købehavn

    .footer__info__opening
      .footer__info__opening__title
        h3.footer__info__opening__title__text.red opening hours
      .footer__info__opening__hours
        p.footer__info__opening__hours__text WED - THU 10:30 PM TO 3 AM#[br]SAT - SUN: 11 PM TO 5 AM

  .footer__recent
    .footer__recent__title
      h3.footer__recent__title__text.red recent posts

    .footer__recent__post.mid
      .footer__recent__post__img
        img.footer__recent__post__img__src(src='./assets/content-img/recent_post1.jpg' alt='recent post')
      .footer__recent__post__content
        .footer__recent__post__desc
          p.footer__recent__post__desc__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, delectus rem?
        .footer__recent__post__date
          p.footer__recent__post__date__text.red April 17, 2018
    .footer__recent__post
      .footer__recent__post__img
        img.footer__recent__post__img__src(src='./assets/content-img/recent_post2.jpg' alt='recent post')
      .footer__recent__post__content
        .footer__recent__post__desc
          p.footer__recent__post__desc__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, nemo cum.
        .footer__recent__post__date
          p.footer__recent__post__date__text.red April 17, 2018

  .footer__tweets
    .footer__tweets__title
      h3.footer__tweets__title__text.red recent tweets
    .footer__tweets__tweet
      .footer__tweets__tweet__img
        img.footer__tweets__tweet__img__src(src='./assets/icon/twitter.png' alt='twitter logo')
      .footer__tweets__tweet__content
        .footer__tweets__tweet__content__desc
          p.footer__tweets__tweet__content__desc__text It is a long established fact that a reader will be distracted by the readable...
        .footer__tweets__tweet__date
          p.footer__tweets__tweet__date__text.red 5 hours ago
    .footer__tweets__tweet
      .footer__tweets__tweet__img
        img.footer__tweets__tweet__img__src(src='./assets/icon/twitter.png' alt='twitter logo')
      .footer__tweets__tweet__content
        .footer__tweets__tweet__content__desc
          p.footer__tweets__tweet__content__desc__text It is a long established fact that a reader will be distracted by the readable...
        .footer__tweets__tweet__date
          p.footer__tweets__tweet__date__text.red 5 hours ago

  .footer__bottom
    .footer__bottom__row
      .footer__bottom__row__side
        p.footer__bottom__row__side__text Night Club PSD Template - All Rights Reserved
      .footer__bottom__row__mid
        p.footer__bottom__row__mid__text Stay Connected With Us
        .footer__bottom__row__mid__images
          .footer__bottom__row__mid__img
            img.footer__bottom__row__mid__img__src(src='./assets/icon/facebook.png')
          .footer__bottom__row__mid__img
            img.footer__bottom__row__mid__img__src(src='./assets/icon/twitter.png')
          .footer__bottom__row__mid__img
            img.footer__bottom__row__mid__img__src(src='./assets/icon/snapchat.png')
          .footer__bottom__row__mid__img
            img.footer__bottom__row__mid__img__src(src='./assets/icon/instagram.png')
      .footer__bottom__row__side
        p.footer__bottom__row__side__text Copyright © 2018 NightClub



