.nav
{
  z-index: z('navigation');

  background: $color-red;

  height: 12.4rem;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;

  &__logout
  {
    @extend %medium-24;
    @extend %link__center--hidden;

    border: none;
    background: inherit;

    color: $color-text;
    text-transform: uppercase;

    cursor: pointer;
  }

  &__wrapper
  {
    height: 100%;
    width: 100%;

    background: $color-background;

    border: 2px solid $color-red;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__logo
  {

    &__image
    {

    }
  }

  &__links
  {
    display: flex;

    &__item
    {
      margin: 0 2.4rem;


      &__link
      {
        @extend %medium-24;

        text-transform: uppercase;
      }
    }
  }
}

.active
{
  @extend %link__center;

  color: $color-red;
}

.link
{
  @extend %link__center--hidden;
}
