.blog
{

  &__section
  {
    height: 196rem;
    width: 100%;

    display: grid;
    place-content: center;

    &__post
    {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      &__image
      {
        grid-area: 1 / 1 / 2 / 2;

        height: 100%;
        width: 100%;

        &__src
        {
          @extend %image;
        }
      }

      &__text
      {
        grid-area: 1 / 2 / 2 / -1;

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 0 23.5rem 0 4rem;

        &__title
        {
          @extend %medium-24;

          text-transform: uppercase;
        }

        &__sub
        {
          @extend %medium-18;

          padding-top: 1rem;
        }

        &__desc
        {
          @extend %medium-18;

          line-height: 3.2rem;
          margin: 4rem 0;
        }

        &__button
        {
          align-self: flex-end;

          text-align: center;
        }
      }
    }
  }
}

.reverse
{

  &__image
  {
    grid-area: 1 / 2 / -1 / -1;

  }

  &__text
  {
    grid-area: 1 / 1 / -1 / 2;
    padding: 0 4rem 0 23.5rem;
  }
}
