.booking
{
  @extend %page__main;

  &__section
  {
    align-self: center;

    &__auth
    {
      height: 171rem;
      width: 100%;
      margin: 10rem 0;
      padding: 0 22rem;

      &__tables
      {
        height: 79.8rem;

        display: flex;
        flex-flow: row wrap;
        gap: 10rem 1rem;

        &__table
        {
          align-self: center;
          justify-self: center;

          height: 18.6rem;
          width: 28.5rem;

          position: relative;

          cursor: pointer;

          &__img
          {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }

          &__overlay
          {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &__text
            {
              @extend %medium-38;
            }
          }
        }
      }
    }
  }

  &__name,
  &__table,
  &__guests,
  &__email,
  &__guests,
  &__phone
  {
    height: 8.5rem;
    width: 70.4rem;

    letter-spacing: 0.036rem;
  }

  &__comment
  {
    height: 36.3rem;
    width: 144rem;
  }

  &__item
  {
    margin: 0;
  }

  &__grid
  {
    margin: 2.5rem 0;

    height: 72.8rem;

    &__left
    {
      grid-area: 1 / 1 / 2 / 2;
      justify-self: flex-start;
    }

    &__right
    {
      grid-area: 1 / 2 / 2 / -1;
      justify-self: flex-end;
    }

    &__textarea
    {
      grid-area: 2 / 1 / -1 / -1;

      margin: 0;
    }
  }

  &__flex
  {
    height: 87.9rem;

    margin: 6rem 0 9.5rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__column
    {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    &__start
    {
      align-self: flex-start;
    }

    &__end
    {
      align-self: flex-end;
    }
  }
}

.table__select
{
  @extend %link__table--visible;
}

.table__hover
{
  @extend %link__table--hidden;
}
