.login
{
  @extend %page__main;

  .form
  {
    height: 27.9rem;

    margin: 5rem 0 10rem 0;
  }

  &__section
  {
    @extend %page__section;

    height: 64rem;

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    &__titles
    {
      text-align: center;

      &__main
      {
        @extend %medium-24;

        text-transform: uppercase;
        letter-spacing: 0.18rem;
      }

      &__sub
      {
        @extend %medium-18;

        margin-top: 2rem;
        line-height: 3.24rem;
      }
    }

    &__message
    {
      text-align: center;

      &__text
      {
        @extend %medium-18;

        a
        {
          color: $color-red;
          text-decoration: underline;
        }
      }
    }
  }
}
