%bold
{
  font-family: $font-bo;
  font-weight: 700;
}

%bold-10
{
  @extend %bold;
  font-size: 1.0rem;
}

%bold-12
{
  @extend %bold;
  font-size: 1.2rem;
}

%bold-14
{
  @extend %bold;
  font-size: 1.4rem;
}

%bold-16
{
  @extend %bold;
  font-size: 1.6rem;
}

%bold-18
{
  @extend %bold;
  font-size: 1.8rem;
}

%bold-20
{
  @extend %bold;
  font-size: 2.0rem;
}

%bold-22
{
  @extend %bold;
  font-size: 2.2rem;
}

%bold-24
{
  @extend %bold;
  font-size: 2.4rem;
}

%bold-26
{
  @extend %bold;
  font-size: 2.6rem;
}

%bold-28
{
  @extend %bold;
  font-size: 2.8rem;
}

%bold-30
{
  @extend %bold;
  font-size: 3.0rem;
}

%bold-32
{
  @extend %bold;
  font-size: 3.2rem;
}

%bold-34
{
  @extend %bold;
  font-size: 3.4rem;
}

%bold-36
{
  @extend %bold;
  font-size: 3.6rem;
}

%bold-38
{
  @extend %bold;
  font-size: 3.8rem;
}

%bold-40
{
  @extend %bold;
  font-size: 4.0rem;
}

%bold-42
{
  @extend %bold;
  font-size: 4.2rem;
}

%bold-44
{
  @extend %bold;
  font-size: 4.4rem;
}
