.form
{
  width: 70.4rem;

  background: transparent;

  &__list
  {

    &__item
    {
      display: flex;
      flex-direction: column;

      margin: 3rem;

      &__input
      {
        @extend %regular-18;

        background: transparent;
        border: 1px solid;
        border-color: $color-text;
        color: $color-text;
        padding: 3.2rem 2.4rem;

        width: 100%;

        &:focus
        {
          outline: none;
          border-color: inherit;
        }

        &::placeholder
        {
          color: $color-text;
        }

        &::-webkit-inner-spin-button { display: none; }
        &::-webkit-calendar-picker-indicator { background: $color-text; }
      }

      &__textarea
      {
        @extend %regular-18;

        height: 35.6rem;
        background: transparent;
        border: 1px solid;
        border-color: $color-text;
        color: $color-text;
        padding: 3.2rem 2.4rem;
        resize: vertical;

        width: 100%;

        &::placeholder
        {
          color: $color-text;
        }
      }

      &__button
      {
        @extend %medium-18;

        align-self: flex-end;

        width: 18rem;
        height: 6.1rem;

        background: transparent;

        border: 1px solid;
        border-color: $color-text;
        border-right: none;
        border-left: none;

        padding: 2rem 1.8rem;

        color: $color-text;
        text-transform: uppercase;

        cursor: pointer;
      }
    }
  }

  &__wide
  {
    width: 144rem;
    background: transparent;

    &__list
    {
      width: 100%;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    &__title
    {
      @extend %bold-44;

      text-transform: uppercase;
    }
  }
}


