.noauth
{
  height: 37rem;

  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  align-items: center;

  &__text
  {
    text-align: center;

    &__main
    {
      @extend %medium-24;

      text-transform: uppercase;
      letter-spacing: 0.18rem;
    }

    &__sub
    {
      @extend %medium-18;

      margin-top: 2rem;
      line-height: 3.24rem;
    }
  }

  &__button
  {
    align-self: center;
    justify-self: flex-end;
    text-align: center;

    width: 18rem;
    height: 6.1rem;

    background: transparent;

    border: 1px solid;
    border-color: $color-text;
    border-right: none;
    border-left: none;

    padding: 2rem 1.8rem;

    color: $color-text;
    text-transform: uppercase;

    cursor: pointer;
  }
}
