@font-face {
  font-family: $font-me;
  src: url('../fonts/Ubuntu-Medium.woff2') format('woff2'),
      url('../fonts/Ubuntu-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
