extends ../base.pug

block variables
  - var template = 'contact'

block content
  .contact
    .contact__header
      .contact__header__bg
        img.contact__header__bg__img(src='./assets/bg/footerbg.jpg')
        .contact__header__bg__overlay
      .contact__header__title
        h1.contact__header__title__text='contact us'
    section.contact__section
      form.contact__form
        ul.contact__form__list
          li.contact__form__list__item
            input.contact__form__list__item__input.name(type="text" id="name" name="user_name" placeholder='Your Name')
          li.contact__form__list__item
            input.contact__form__list__item__input.mail(type="email" id="mail" name="user_email" placeholder='Your Email')
          li.contact__form__list__item
            textarea.contact__form__list__item__textarea(id="msg" name="user_message" placeholder='Your Comment')
          li.contact__form__list__item
            input.contact__form__list__item__button(type='submit' value='send')


