extends ../base.pug

block variables
  - var template = 'contact'

block content
  .contact
    .header
      .header__bg
        img.header__bg__img(src='./assets/bg/footerbg.jpg')
        .header__bg__overlay
      .header__title
        h1.header__title__text='contact us'
    section.contact__section
      .contact__section__message
        h3.contact__section__message__text='Please fill out the form'
      form.form
        ul.form__list
          li.form__list__item
            input.form__list__item__input.contact__name(required type="text" id="name" name="user_name" placeholder='Your Name')
          li.form__list__item
            input.form__list__item__input.contact__mail(required type="email" id="mail" name="user_email" placeholder='Your Email')
          li.form__list__item
            textarea.form__list__item__textarea.contact__textarea(required minlength='10' id="msg" name="user_message" placeholder='Your Comment')
          li.form__list__item
            input.form__list__item__button.contact__button(type='submit' value='send')


